.detail-wrapper {
  min-height: 100vh;
  padding-bottom: 148px;

  .bg-cover-box {
    display: none;
    border-radius: 0 0 4px 4px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .bg-cover {
      filter: blur(3px);
    }
  }

  .content {
    width: 1160px;

    .bread-crumbs {
      font-size: 30px;
      line-height: 36px;
      margin: 55px 0;
    }

    .content-box {
      width: 920px;

      .book-info {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .book-cover {
          width: 140px;
          height: 196px;
          background-color: #b7b7b7;
          border-radius: 4px;
          margin-right: 20px;
        }

        .book-name {
          font-size: 20px;
          line-height: 26px;
          color: #222222;
        }

        .book-author {
          font-size: 13px;
          line-height: 18px;
          color: #666666;
          margin-top: 10px;
        }

        .tags {
          margin-top: 12px;
        }

        .create-date {
          font-size: 12px;
          line-height: 18px;
          color: #999999;
          margin-top: 14px;
        }

        .create-date {
          font-size: 12px;
          line-height: 18px;
          color: #999999;
          margin-top: 14px;
        }

        .update-date {
          font-size: 12px;
          line-height: 18px;
          color: #999999;
          margin-top: 8px;
        }

        .btns-box {
          margin-top: 14px;

          .btn {
            padding: 0 20px;
            height: 38px;
            border-radius: 4px;
            font-size: 14px;
          }

          .read-btn {
            color: #fff;
            background-color: #2784ff;

            &:hover {
              background-color: #529dff;
            }

            &:active {
              background-color: #2376e5;
            }
          }

          .delete-btn {
            color: #ee4040;
            background-color: #fdebeb;
            margin-left: 15px;

            &:hover {
              color: #f86363;
              background-color: #fef2f2;
            }

            &:active {
              color: #eb3737;
              background-color: #fee6e6;
            }
          }

          .collect-btn {
            color: #2784ff;
            background-color: #eef6ff;
            margin-left: 15px;

            &:hover {
              color: #529dff;
              background-color: #f1f8ff;
            }

            &:active {
              color: #187afc;
              background-color: #e4f0ff;
            }
          }

          .sign-count {
            font-size: 14px;
            color: #222222;
          }

          .share-btn {
            margin-left: 30px;

            span {
              font-size: 14px;
              color: #999999;

              &:hover,
              &.active {
                color: #222222;
              }
            }

            .fl-icon-fenxiang {
              margin-right: 6px;
            }
          }
        }
      }
    }

    .book-intro {
      padding: 25px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .intro-title {
        font-size: 16px;
        line-height: 22px;
        color: #222222;
      }

      .intro {
        margin-top: 25px;

        .intro-content {
          font-size: 14px;
          line-height: 20px;
          color: #222222;
          text-indent: 28px;
        }

        .view-all-btn {
          line-height: 20px;
          color: #2784ff;

          &:hover {
            color: #539dff;
          }

          &:active {
            color: #2376e5;
          }
        }

        &.fold {
          height: 60px;
        }

        &.unfold {
          height: auto;
        }
      }
    }
  }
}
