.theme-entrance-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 250px;
  height: 84px;
  padding: 20px 30px;
  box-sizing: border-box;
  background: rgba(93, 145, 145, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  color: rgba(93, 145, 145, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  display: none !important;

  &:hover {
    transform: translateY(-2px);
    background: rgba(93, 145, 145, 0.2);
  }

  &:active {
    transform: translateY(0);
  }

  &.show {
    display: flex !important;
  }

  .freelog {
    width: 33px;
    height: 33px;
    font-size: 33px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(93, 145, 145, 1);
  }

  .text-wrapper {
    .text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      white-space: nowrap;
      color: rgba(93, 145, 145, 1);
    }

    .text2 {
      font-weight: 400;
      font-size: 12px;
      color: rgba(93, 145, 145, 1);
      line-height: 18px;
      margin-top: 6px;
    }
  }
}
