.home-novel-wrapper {
  height: 132px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 6px;

  &:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.1) 100%);
  }

  .book-cover {
    width: 80px;
    height: 112px;
    border-radius: 4px;
    background: #b7b7b7;
    margin-right: 20px;
  }

  .book-name {
    font-size: 16px;
    line-height: 22px;
  }

  .book-author {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    margin-top: 10px;
  }

  .tags {
    margin-top: 12px;
  }

  .btn {
    height: 38px;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 14px;

    &.read-btn {
      background-color: #2784ff;

      &:hover {
        background-color: #529dff;
      }

      &:active {
        background-color: #2376e5;
      }
    }

    &.delete-btn {
      color: #ee4040;
      background-color: #fdebeb;
      margin-left: 15px;

      &:hover {
        color: #f86363;
        background-color: #fef2f2;
      }

      &:active {
        color: #eb3737;
        background-color: #fee6e6;
      }
    }
  }
}
