// 移动端书架小说组件
.mobile-shelf-novel-wrapper {
  width: 100px;

  .book-cover-box {
    position: relative;
    width: 100px;
    height: 140px;
    border-radius: 4px;
    background: #b7b7b7;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .book-cover {
      height: 100%;
    }

    .offline {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 20px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0px 0px 4px 0px;
      font-size: 10px;
      font-weight: 600;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .book-name {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    line-height: 22px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    .auth-link-abnormal {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    .name {
      flex: 1;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .book-author {
    width: 100px;
    font-size: 13px;
    color: #666666;
    line-height: 18px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// 普通小说组件
.novel-wrapper {
  width: 100%;

  .novel-content {
    width: 100%;
    display: flex;
    align-items: center;

    .book-cover-box {
      position: relative;
      border-radius: 4px;
      background: #b7b7b7;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      .book-cover {
        height: 100%;
      }

      .offline {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 20px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 4px 0px;
        font-size: 10px;
        font-weight: 600;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .book-info {
      flex: 1;
      width: 0;
      margin-right: 20px;

      &.auth-book {
        margin-right: 0;
      }

      .book-name-box {
        width: 100%;
        display: flex;

        .auth-link-abnormal {
          float: left;
          width: 16px;
          height: 16px;
          margin-right: 5px;
          margin-top: 3px;
        }

        .lock {
          float: left;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          margin-top: 3px;
        }

        .book-name {
          font-size: 16px;
          color: #222;
          line-height: 22px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .tag {
          flex-shrink: 0;
          width: 56px;
          height: 22px;
          border-radius: 22px;
          margin-left: 10px;
          font-size: 12px;
          font-weight: 600;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .is-auth {
          background: #42c28c;
        }

        .not-auth {
          background: #e9a923;
        }
      }

      .book-author {
        width: 100%;
        font-size: 13px;
        line-height: 18px;
        color: #666666;
        margin-top: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .tags {
        height: 24px;
        overflow: hidden;
        margin-top: 12px;
      }
    }
  }

  // 移动端普通小说组件
  &.in-mobile {
    padding: 0 20px;

    &:active {
      background-color: rgba(0, 0, 0, 0.02);
    }

    .novel-content {
      width: 100%;
      padding: 15px 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);

      .book-cover-box {
        width: 70px;
        height: 98px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        margin-right: 15px;
      }

      .fl-icon-zhankaigengduo {
        width: 6px;
        height: 12px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
      }

      .btn {
        display: none;
      }

      .tag + .tag {
        margin-left: 8px;
      }

      .auth-tag {
        flex-shrink: 0;
        width: 56px;
        height: 22px;
        border-radius: 22px;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
      }

      .is-auth {
        background: #42c28c;
      }

      .not-auth {
        background: #e9a923;
      }
    }
  }

  // PC端普通小说组件
  &.in-pc {
    border-radius: 6px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.1) 100%);
    cursor: pointer;

    &:hover {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.1) 100%);
    }

    .book-cover-box {
      width: 80px;
      height: 112px;
      margin-right: 20px;
    }

    .fl-icon-zhankaigengduo {
      display: none;
    }

    .btn {
      height: 38px;
      padding: 0 20px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;

      &.warning-btn {
        margin-left: 15px;
      }

      &.read-btn {
        background: rgba(93, 145, 145, 0.1);
        color: #5d9191;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }
      }

      &.disabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }
}

.opacity-40p {
  opacity: 0.4;
}
