.home-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  // mobile
  .mobile-home-body {
    width: 100%;
    padding-bottom: 98px;

    .shelf-book-list {
      padding: 30px 20px;
      box-sizing: border-box;
      border-bottom: 5px solid rgba(0, 0, 0, 0.03);

      .shelf-header {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .box-title {
          font-size: 34px;
          color: #222222;
          line-height: 40px;
        }

        .more-shelf {
          font-size: 16px;
          color: #666666;
          line-height: 22px;
          display: flex;
          align-items: center;

          .freelog {
            width: 7px;
            height: 12px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            margin-top: 2px;
          }
        }
      }

      .book-list-box {
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        overflow-x: auto;
        margin-top: 30px;

        &::-webkit-scrollbar {
          display: none;
        }

        .book-box + .book-box {
          margin-left: 12px;
        }
      }
    }

    .book-list {
      width: 100%;
      padding: 30px 0;
      box-sizing: border-box;

      .search-box-title {
        width: calc(100% - 40px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin-left: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);

        .box-title {
          font-size: 16px;
          color: #999999;
          line-height: 22px;
        }
      }

      .box-header {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 15px;

        .box-title {
          font-size: 34px;
          color: #222222;
          line-height: 40px;
          box-sizing: border-box;
        }
      }

      .text-btn {
        display: flex;
        align-items: center;

        .freelog {
          font-size: 18px;
        }

        .filter-label {
          font-size: 16px;
          line-height: 22px;
          margin-left: 5px;
        }
      }

      .book-box {
        width: 100%;
      }

      .tip {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: #999;
        margin-top: 100px;

        &.no-more {
          font-size: 14px;
          line-height: 20px;
          margin-top: 30px;
        }
      }
    }

    .modal {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 101;
    }

    .filter-box-body {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 340px;
      background: #ffffff;
      border-radius: 0px 10px 10px 0px;
      padding: 0 20px;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      z-index: 101;

      .filter-box-header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 26px;

        .header-title {
          font-size: 16px;
          font-weight: 600;
          color: #222222;
          line-height: 22px;
        }

        .close-btn {
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 6px;

          .freelog {
            font-size: 12px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .tags-box {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding-left: 12px;
        box-sizing: border-box;

        .tags-box-list {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          margin-top: 15px;
        }

        .tag {
          width: fit-content;
          height: 38px;
          border-radius: 38px;
          padding: 9px 15px;
          box-sizing: border-box;
          background: #ebecf0;
          font-size: 14px;
          color: #575e6a;
          line-height: 20px;
          margin: 0 5px 15px;
          cursor: pointer;

          &.active {
            background: var(--deriveColor);
            color: #fff;
          }
        }
      }
    }
  }

  // PC
  .home-body {
    width: 1160px;
    padding-bottom: 148px;

    .book-list {
      margin-top: 55px;

      .shelf-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .shelf-header-right {
          display: flex;
          margin-right: 20px;
          line-height: 20px;

          .shelf-length {
            font-size: 14px;
            color: #999999;
          }

          .text-btn {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }

      .search-box-title {
        font-size: 14px;
        color: #999999;
        line-height: 20px;
        margin-top: -25px;
        margin-bottom: 30px;
      }

      .box-title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
      }

      .filter-bar {
        position: relative;
        width: 100%;
        height: 50px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 10px;

        .filter-bar-bg {
          position: absolute;
          inset: 0;
          background-color: var(--deriveColor);
          opacity: 0.04;
          z-index: -1;
        }

        .category-btn {
          height: 24px;
          padding: 2px 8px;
          box-sizing: border-box;
          font-size: 14px;
          color: #666;
          line-height: 20px;
          border-radius: 12px;
          cursor: pointer;
          transition: all 0.2s linear;

          &:hover {
            color: var(--deriveColor);
          }

          &:active {
            color: var(--deriveColor);
            opacity: 0.8;
          }

          &.active {
            background-color: var(--deriveColor);
            color: #fff;
          }

          & + .category-btn {
            margin-left: 4px;
          }
        }
      }

      .book-list-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .book-box {
          width: calc((100% - 50px) / 3);
          margin-right: 25px;
          margin-top: 20px;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }

      .tip {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: #999;
        margin-top: 100px;

        &.no-more {
          font-size: 14px;
          line-height: 20px;
          margin-top: 30px;
        }
      }
    }
  }
}
