.home-wrapper {
  min-height: 100vh;
  padding-bottom: 148px;

  .home-body {
    width: 1160px;

    .book-list {
      margin-top: 55px;

      .box-title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;

        .search-book-total {
          font-size: 20px;
          color: #999999;
          line-height: 26px;
          margin-left: 10px;
        }
      }

      .more-shelf {
        font-size: 14px;
        color: #2784ff;

        &:hover {
          color: #529dff;
        }
      }

      .view-all-btn {
        margin-left: 10px;
        color: #2784ff;

        &:hover {
          color: #529dff;
        }
      }

      .book-box {
        width: calc((100% - 50px) / 3);
        margin-right: 25px;
        margin-top: 20px;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

  .tip {
    font-size: 16px;
    line-height: 22px;
    color: #999;
    margin-top: 55px;

    &.no-more {
      margin-top: 30px;
    }

    &.shelf-tip {
      font-size: 14px;
      line-height: 20px;
      margin-top: 30px;
    }
  }
}
