.breadcrumbs-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;

  .breadcrumbs-item {
    display: flex;
    align-items: center;

    & + .breadcrumbs-item {
      margin-left: 10px;
    }

    .item-title {
      cursor: pointer;
      transition: color 0.2s linear;

      &.current {
        pointer-events: none;
      }

      &:hover {
        color: #539dff;
      }

      &:active {
        color: #2376e5;
      }
    }

    .arrow {
      margin-left: 8px;
    }
  }

  &.normal {
    margin: 55px 0;

    .breadcrumbs-item {
      font-size: 20px;
      color: #999999;
      line-height: 26px;

      .current {
        font-size: 30px;
        color: #222222;
        line-height: 36px;
        pointer-events: none;
      }
    }
  }

  &.in-reader {
    margin: 24px 0;

    .breadcrumbs-item {
      font-size: 16px;
      color: #999999;
      line-height: 22px;

      .current {
        font-size: 16px;
        line-height: 22px;
        color: #222222;
        font-weight: bold;
      }
    }
  }

  &.in-dark .breadcrumbs-item {
    color: #444444;

    .item-title.current {
      color: #999999;
    }
  }

  &.in-mobile {
    display: none;
  }
}
