#app {
  @import "base/layout.scss";
  @import "base/pmwh.scss";
  @import "base/mouse.scss";
  @import "ui/color.scss";
  @import "ui/font-size.scss";
  @import "ui/common.scss";
  @import "ui/box.scss";
  @import "ui/font.scss";
  @import "ui/background.scss";

  @import "ui/transition.scss";
  @import "ui/animation.scss";
}

@font-face {
  font-family: "iconfont"; /* Project id 2662601 */
  src: url("//at.alicdn.com/t/font_2662601_jw1q1hq2lsc.woff2?t=1629341687311")
      format("woff2"),
    url("//at.alicdn.com/t/font_2662601_jw1q1hq2lsc.woff?t=1629341687311")
      format("woff"),
    url("//at.alicdn.com/t/font_2662601_jw1q1hq2lsc.ttf?t=1629341687311")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
