.reader-wrapper {
  min-height: 100vh;
  background-image: url(../../assets/images/reader-bg.png);

  .body-wrapper {
    width: 800px;

    .bread-crumbs {
      font-size: 16px;
      line-height: 22px;
      color: #222222;
      margin: 24px 0;
    }

    .content {
      padding: 50px 60px;
      border-radius: 10px;
      background-image: url(../../assets/images/reader-bg.png);
      animation: fade-in 0.3s ease-out;

      &.dark {
        color: #999;
      }

      &.light {
        color: #222;
      }
    }

    .footer-bar {
      height: 78px;
      margin: 30px 0;
      border-radius: 10px;
      background-image: url(../../assets/images/reader-bg.png);

      .footer-btn {
        font-size: 16px;
        line-height: 30px;
        color: #222222;

        &:hover {
          color: #529dff;
        }

        &:active {
          color: #2376e5;
        }

        &.invalid {
          color: #999;
          pointer-events: none;
        }

        & + .footer-btn {
          border-left: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .operater-wrapper {
    bottom: 138px;
    margin-left: 500px;

    .operate-btn-wrapper {
      min-width: 48px;
      height: 48px;
      border-radius: 48px;
      color: #aaa;
      background-color: #ececf0;

      &.dark:hover {
        box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.4);
      }

      &.light:hover {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
      }

      & + .operate-btn-wrapper {
        margin-top: 10px;
      }

      .iconfont {
        width: 48px;
        height: 48px;
        font-size: 18px;
      }

      .fontsize-popup {
        .fontsize-label {
          font-size: 16px;
        }

        .fontsize-value {
          width: 60px;
          height: 28px;
          border-radius: 4px;
          margin: 0 15px;
        }

        &.dark {
          color: #999;

          .fontsize-value {
            border: 1px solid #2d2d2d;
          }
        }

        &.light {
          color: #222;

          .fontsize-value {
            border: 1px solid #d1d1d1;
          }
        }
      }

      .theme-btn {
        width: 28px;
        height: 28px;
        margin-left: 10px;
        border: 1px solid #d1d1d1;

        &.active {
          border-color: #2784ff;

          .freelog {
            opacity: 1;
          }
        }

        .freelog {
          font-size: 10px;
          transform: scale(0.8);
          color: #2784ff;
          opacity: 0;
        }
      }
    }
  }

  .back-top {
    margin-top: 10px;
  }
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}

.slide-up-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 300ms ease-in;
}
