.header-wrapper {
  background-color: #333;
  padding: 0 140px;

  .header-top {
    width: 1160px;
    height: 70px;
    padding: 19px 0;
    box-sizing: border-box;

    .logo {
      height: 24px;
    }

    .small-search-box {
      width: 240px;
      height: 32px;
      border-radius: 32px;
      margin-left: 40px;

      .fl-icon-content {
        font-size: 14px;
        margin: 0 10px;
        color: #8e8e93;
      }

      .search-input {
        font-size: 14px;
      }

      .fl-icon-guanbi {
        color: #aecac8;
        font-size: 14px;
        margin: 0 10px;

        &:hover {
          color: #8aacaa;
        }
      }
    }

    .username {
      font-size: 14px;
      line-height: 20px;
    }

    .avatar {
      width: 32px;
      height: 32px;
      margin-left: 10px;
    }

    .user-box {
      padding-top: 10px;

      .user-box-body {
        width: 240px;
        background: #ffffff;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        .avatar {
          width: 60px;
          height: 60px;
          border: 1px solid #d1d1d1;
          margin-top: 20px;
        }

        .username {
          font-size: 16px;
          line-height: 22px;
          color: #222222;
          margin-top: 15px;
        }

        .mobile {
          font-size: 14px;
          color: #222222;
          line-height: 20px;
          margin-top: 8px;
          margin-bottom: 16px;
        }

        .btn {
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          color: #222222;
          background-color: #fff;
          padding-left: 20px;
          box-sizing: border-box;
          border-top: 1px solid rgba(0, 0, 0, 0.05);

          &:hover {
            color: #fff;
            background-color: #2784ff;
          }

          &:last-child {
            border-radius: 0 0 4px 4px;
          }
        }
      }
    }

    .login-btn {
      height: 32px;
      padding: 0 15px;
      border-radius: 4px;
      font-size: 14px;
      background-color: #f7f7f7;
      color: #666;

      &:hover {
        background-color: #ededed;
      }

      &:active {
        background-color: #e6e6e6;
      }
    }

    .register-btn {
      height: 32px;
      padding: 0 15px;
      border-radius: 4px;
      font-size: 14px;
      background-color: #2784ff;
      margin-left: 10px;

      &:hover {
        background-color: #529dff;
      }

      &:active {
        background-color: #2376e5;
      }
    }
  }

  .search-box {
    max-width: 700px;
    height: 38px;
    border-radius: 38px;
    margin-top: 16px;
    margin-bottom: 25px;

    .fl-icon-content {
      font-size: 14px;
      margin: 0 15px;
      color: #8e8e93;
    }

    .search-input {
      font-size: 14px;
    }

    .fl-icon-guanbi {
      color: #aecac8;
      font-size: 14px;
      margin: 0 15px;

      &:hover {
        color: #8aacaa;
      }
    }
  }

  .filter-bar {
    margin-bottom: 27px;

    .category-btn {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 20px;
      padding: 2px 5px;
      border-radius: 2px;
      background-color: transparent;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      &.active {
        background-color: #ffffff;
        color: #666;
      }

      & + .category-btn {
        margin-left: 10px;
      }
    }
  }
}
