.about-btn {
  width: 50px;
  height: 50px;
  background: linear-gradient(145deg, #eaeaea, #c5c5c5);
  transition: all 0.3s ease;

  &.active,
  &:hover {
    box-shadow: 5px 5px 10px #bababa, -5px -5px 10px #fcfcfc;
  }

  &.active {
    bottom: 25px !important;
  }
}

.about-bar-wrapper {
  background: linear-gradient(to right, rgba(219, 219, 219, 1), rgba(240, 240, 240, 1));
  color: #aaaaaa;
  height: 50px;

  div:hover {
    color: #8b8b8b;
  }
}

@media (max-width: 400px) {
  .about-btn {
    width: 40px;
    height: 40px;
    font-size: 12px;

    &.active {
      bottom: 20px !important;
    }
  }

  .about-bar-wrapper {
    height: 40px;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in;
}
