.shelf-wrapper {
  min-height: 100vh;
  padding-bottom: 148px;

  .content {
    width: 1160px;

    .bread-crumbs {
      font-size: 30px;
      line-height: 36px;
      margin: 55px 0;
    }

    .book-box {
      width: 920px;

      & + .book-box {
        margin-top: 20px;
      }
    }

    .tip {
      font-size: 16px;
      line-height: 22px;
      color: #999;
    }

    .add-book-box {
      width: 920px;

      .add-book-btn {
        width: fit-content;
        font-size: 16px;
        color: #666666;
        line-height: 22px;
        margin-top: 30px;

        .freelog {
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }

        &:hover {
          color: #539dff;
        }

        &:active {
          color: #2376e5;
        }
      }
    }
  }
}
