@import "~antd/dist/antd.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: PingFang SC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #222;
  user-select: none;
  touch-action: pan-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  display: block;
  color: unset;
}

.input-none {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}
.input-none:focus {
  border: none;
  box-shadow: none;
}

.main-btn {
  color: #fff;
  background: var(--deriveColor);
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6 !important;
  }

  &.mobile {
    cursor: default;
    transition: none;

    &:hover {
      opacity: 1;
    }
  }
}

.assist-btn {
  position: relative;
  color: var(--deriveColor);
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--deriveColor);
    opacity: 0.1;
    transition: all 0.2s linear;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:active::before {
    opacity: 0.06 !important;
  }

  &.mobile {
    cursor: default;
    transition: none;

    &:hover::before {
      opacity: 0.1;
    }
  }
}

.text-btn {
  color: var(--deriveColor);
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6 !important;
  }

  &.mobile {
    cursor: default;
    transition: none;

    &:hover {
      opacity: 1;
    }
  }
}

.second-text-btn {
  color: #999999;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    color: var(--deriveColor);
  }

  &:active {
    opacity: 0.8 !important;
  }

  &.mobile {
    cursor: default;
    transition: none;

    &:hover {
      color: #999999;
    }
  }
}

.header-login-btn {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6 !important;
  }

  &.mobile {
    cursor: default;
    transition: none;

    &:hover {
      opacity: 1;
    }
  }
}

.header-register-btn {
  color: var(--deriveColor);
  background: #fff;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6 !important;
  }

  &.mobile {
    cursor: default;
    transition: none;

    &:hover {
      opacity: 1;
    }
  }
}

.user-box-btn {
  color: #222;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    color: #fff;
    background: var(--deriveColor);
  }

  &:active {
    opacity: 0.8 !important;
  }
}
