.detail-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  // mobile
  .mobile-content {
    width: 100%;
    padding-bottom: 98px;

    .auth-link-abnormal-tip {
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      box-sizing: border-box;
      background: #fbf5ea;
      border-radius: 4px;
      animation: fade-in 0.5s linear;

      .auth-link-abnormal {
        width: 16px;
        height: 16px;
      }

      .tip-text {
        font-size: 14px;
        color: #e9a923;
        margin-left: 5px;
      }
    }

    .comic-info {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #fff;

      .comic-base-info {
        display: flex;

        .comic-cover {
          width: 110px;
          height: 154px;
          background-color: #b7b7b7;
          border-radius: 4px;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
          margin-right: 15px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          .comic-cover-image {
            height: 100%;
          }
        }

        .comic-content {
          flex: 1;
          width: 0;
          display: flex;
          flex-direction: column;

          .content-top {
            flex: 1;

            .comic-name {
              font-size: 20px;
              line-height: 26px;
              color: #222222;
              font-weight: bold;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }

            .comic-author {
              font-size: 13px;
              line-height: 18px;
              color: #666666;
              margin-top: 10px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .tags {
              margin-top: 12px;
              height: 24px;
              overflow: hidden;
            }
          }

          .content-bottom {
            display: flex;
            align-items: center;

            .sign-count {
              font-size: 14px;
              line-height: 20px;
              color: #222222;
            }

            .share-btn {
              position: relative;
              display: flex;
              align-items: center;
              margin-left: 20px;

              .share-btn-text {
                font-size: 14px;
                line-height: 20px;
                color: #999999;

                &:active {
                  color: #666666;
                }

                .fl-icon-fenxiang {
                  margin-right: 6px;
                }
              }
            }

            .hidden-input {
              position: absolute;
              z-index: -1;
            }
          }
        }
      }

      .comic-date-info {
        width: 100%;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.02);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;

        .date-info {
          font-size: 12px;
          color: #999999;
          line-height: 18px;

          & + .date-info {
            margin-top: 5px;
          }
        }
      }

      .operate-btns {
        display: flex;

        .btn {
          flex: 1;
          height: 48px;
          border-radius: 4px;
          font-size: 16px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;

          & + .btn {
            margin-left: 10px;
          }

          &.delete {
            background: #fdebec;
            color: #ee4040;

            &:active {
              background: #ffe2e4;
            }
          }

          &.disabled {
            opacity: 0.4;
          }
        }
      }
    }

    .divider {
      width: 100%;
      height: 5px;
      background-color: rgba(0, 0, 0, 0.03);
    }

    .comic-intro {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #fff;

      .intro-title {
        font-size: 16px;
        line-height: 22px;
        color: #222222;
        font-weight: bold;
      }

      .intro {
        position: relative;
        overflow: hidden;
        margin-top: 20px;

        &.fold {
          height: 120px;
        }

        &.unfold {
          height: auto;
        }

        .intro-content {
          font-size: 14px;
          line-height: 24px;
          color: #222222;
          text-indent: 28px;
        }

        .view-all-btn {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #fff;
          line-height: 24px;
          color: #2784ff;

          &:active {
            color: #539dff;
          }
        }
      }

      .no-intro-tip {
        font-size: 14px;
        color: #999999;
        line-height: 24px;
        margin-top: 20px;
      }
    }

    .comic-catalogue {
      padding: 20px;
      padding-bottom: 0px;
      .title-container {
        display: flex;
        align-items: ce;
        justify-content: space-between;
        .title {
          font-weight: 600;
          font-size: 16px;
          color: #222222;
          line-height: 22px;
        }
      }

      .sub-directory-container {
        padding: 20px 0 19px 0;

        .sub {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 14px 0 15px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          &:hover,
          &:active {
            background: rgba(0, 0, 0, 0.02);
          }

          &:nth-child(1) {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
          }

          .sub-title {
            font-weight: 400;
            font-size: 14px;
            color: #222222;
            line-height: 20px;
          }

          img {
            width: 7px;
            height: 12px;
            cursor: pointer;
          }

          .sub-lock {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  // PC
  .content {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 148px;

    .auth-link-abnormal-tip {
      width: 920px;
      height: 36px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      box-sizing: border-box;
      background: #fbf5ea;
      border-radius: 4px;
      margin-top: -15px;
      margin-bottom: 25px;
      animation: fade-in 0.5s linear;

      .auth-link-abnormal {
        width: 16px;
        height: 16px;
      }

      .tip-text {
        font-size: 14px;
        color: #e9a923;
        margin-left: 5px;
      }
    }

    .content-box {
      width: 920px;

      .comic-info {
        display: flex;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .comic-cover {
          width: 140px;
          height: 196px;
          background-color: #b7b7b7;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          margin-right: 20px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          .comic-cover-image {
            height: 100%;
          }
        }

        .comic-content {
          flex: 1;
          width: 0;

          .comic-name {
            font-size: 24px;
            line-height: 30px;
            height: 30px;
            color: #222222;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .comic-author {
            font-size: 13px;
            line-height: 18px;
            height: 18px;
            color: #666666;
            margin-top: 10px;
          }

          .tags {
            margin-top: 12px;
            height: 24px;
            overflow: hidden;
          }

          .create-date {
            font-size: 12px;
            line-height: 18px;
            height: 18px;
            color: #999999;
            margin-top: 12px;
          }

          .update-date {
            font-size: 12px;
            line-height: 18px;
            height: 18px;
            color: #999999;
            margin-top: 4px;
          }

          .btns-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;

            .operate-btns {
              display: flex;

              .btn {
                padding: 0 20px;
                height: 38px;
                border-radius: 4px;
                font-size: 14px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;

                & + .btn {
                  margin-left: 10px;
                }

                &.delete {
                  background: #fdebec;
                  color: #ee4040;
                  cursor: pointer;
                  transition: all 0.2s linear;

                  &:hover {
                    background: #ffe2e4;
                  }
                }

                &.disabled {
                  opacity: 0.4;
                }
              }
            }

            .other-btns {
              display: flex;
              align-items: center;

              .sign-count {
                font-size: 14px;
                color: #222222;
              }

              .share-btn {
                position: relative;
                display: flex;
                align-items: center;
                margin-left: 30px;
                cursor: pointer;

                .share-btn-text {
                  font-size: 14px;
                  color: #999999;
                  transition: all 0.2s linear;

                  &:hover,
                  &.active {
                    color: #222222;
                  }

                  .fl-icon-fenxiang {
                    margin-right: 6px;
                  }
                }

                .share-wrapper {
                  position: absolute;
                  right: 0;
                  top: 100%;
                }
              }
            }
          }
        }
      }
    }

    .comic-intro {
      padding: 25px 0;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &.need-border {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .intro-title {
        font-size: 16px;
        line-height: 22px;
        color: #222222;
        font-weight: bold;
      }

      .intro {
        position: relative;
        overflow: hidden;
        margin-top: 25px;

        &.fold {
          height: 60px;
        }

        &.unfold {
          height: auto;
        }

        .intro-content {
          font-size: 14px;
          line-height: 20px;
          color: #222222;
          text-indent: 28px;
        }

        .view-all-btn {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #fff;
          line-height: 20px;
          color: #2784ff;
          cursor: pointer;

          &:hover {
            color: #539dff;
          }

          &:active {
            color: #2376e5;
          }
        }
      }

      .no-intro-tip {
        font-size: 14px;
        color: #999999;
        line-height: 20px;
        margin-top: 25px;
      }
    }

    .comic-catalogue {
      padding: 24px 0 29px 0;
      .title-container {
        .title {
          font-weight: 600;
          font-size: 16px;
          color: #222222;
          line-height: 22px;
        }
        .count {
          font-weight: 400;
          font-size: 16px;
          color: #999999;
          line-height: 22px;
          margin-left: 10px;
        }
      }

      .sub-directory-container {
        margin-top: 25px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 40px;

        .sub {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 280px;
          padding: 14px 0 15px 0;
          font-weight: 400;
          font-size: 14px;
          color: #222222;
          line-height: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          &:hover,
          &:active {
            background: rgba(0, 0, 0, 0.02);
          }

          .sub-title {
            cursor: pointer;
          }

          .sub-lock {
            width: 16px;
            height: 16px;
            cursor: pointer;
          }
        }
      }

      .tip {
        margin-top: 29px;
        font-weight: 400;
        font-size: 14px;
        color: #999999;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
