.markdown-wrapper {
  width: 100%;
  font-size: calc(var(--fontSize) * 1px);
  color: #222;
  user-select: none;
  transition: all 0.2s linear;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
    line-height: 1.25;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s linear;
  }

  h1 {
    font-size: calc(var(--fontSize) / 16 * 36 * 1px);
    margin-top: 0;
  }

  h2 {
    font-size: calc(var(--fontSize) / 16 * 32 * 1px);
  }

  h3 {
    font-size: calc(var(--fontSize) / 16 * 28 * 1px);
  }

  h4 {
    font-size: calc(var(--fontSize) / 16 * 22 * 1px);
  }

  h5 {
    font-size: calc(var(--fontSize) / 16 * 16 * 1px);
  }

  h6 {
    font-size: calc(var(--fontSize) / 16 * 13.6 * 1px);
    color: #6a737d;
  }

  hr {
    height: 4px;
    padding: 0;
    margin: 50px 0;
    background-color: #e1e4e8;
    border: 0;
  }

  p {
    white-space: pre-wrap;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: calc(var(--fontSize) * 1px);
    line-height: calc((var(--fontSize) + 14) * 1px);
    transition: all 0.2s linear;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
    color: #6a737d;
    border-left: 3px solid #dfe2e5;
    background-color: #fafafa;
    padding: 4px 0 4px 16px;
    margin-bottom: 10px;

    p {
      margin: 4px 0;
    }
  }

  ol,
  ul {
    padding-left: 32px;
    padding-bottom: 16px;
    line-height: 1.7;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  pre {
    padding: 16px;
    overflow-x: auto;
    font-size: calc(var(--fontSize) / 16 * 14 * 1px);
    line-height: 1.45;
    background-color: #323232;
    border-radius: 3px;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    transition: all 0.2s linear;

    & + pre {
      margin-top: 30px;
    }

    ::-webkit-scrollbar {
      height: 8px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    ::-webkit-scrollbar-thumb {
      height: 8px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.3);

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    code {
      background-color: transparent;
      color: #fff;
      padding: 0;
    }
  }

  code {
    padding: 2px 8px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #f7f7f9;
    border-radius: 3px;
  }

  a {
    color: #3eaf7c;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
  }

  img,
  video,
  audio {
    max-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  video {
    width: 100%;
  }

  table {
    display: block;
    word-break: initial;
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;

    tbody tr:nth-child(2n) {
      background-color: #f6f8fa;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;

      th,
      td {
        padding: 10px 13px;
        border: 1px solid #dfe2e5;
      }

      th {
        font-weight: bold;
      }
    }
  }
}

.txt-wrapper {
  white-space: pre-wrap;
  font-size: calc(var(--fontSize) * 1px);
  line-height: calc((var(--fontSize) + 14) * 1px);
  transition: all 0.2s linear;
}
