.login-btn-wrapper {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 60px;
  border-radius: 60px;
  background-color: #2784ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(39, 132, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: #2376e5;
  }

  &.hidden {
    display: none;
  }
}
