.bg-less {
  background-color: #f0f2f5;
}

.bg-white {
  background-color: white;
}

.bg-content {
  background-color: #fafbfc;
}

// color
.bg-success {
  background-color: $success;
}

.bg-warn {
  background-color: $warn;
}

.bg-error {
  background-color: $error;
}

.bg-main {
  background-color: $bt-main;
}

.bg-hover {
  background-color: $bt-hover;
}

.bg-active {
  background-color: $bt-active;
}
.bg-disabled {
  opacity: 0.4;
}

.bg-c-main {
  background-color: $bt-c-main;
}

.bg-c-hover {
  background-color: $bt-c-hover;
}

.bg-c-active {
  background-color: $bt-c-active;
}

.bg-end {
  background-color: $end;
}

.main-btn {
  position: relative;
  overflow: hidden;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  span {
    z-index: 1;
  }

  &::after {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, #0088ff, #8ed9ff);
    transition: all 1s ease;
  }

  &:hover::after {
    right: -100%;
  }
}
